<div class="main-container">
    <div class="header">
        <h1>Register</h1>
    </div>
    <form #UserRegisterForm="ngForm" (ngSubmit)="onSubmit(UserRegisterForm)">
        <div class="form-group">
            <label class="label" for="firstNamea"> First Name</label>
            <div class="control">
                <input type="text" name="firstNamea" [ngModel]="user.firstName" required class="input">
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="lastName"> Last Name</label>
            <div class="control">
                <input type="text" name="lastName" [ngModel]="user.lanstName" required class="input">
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="UserName"> User Name</label>
            <div class="control">
                <input type="text" name="UserName" required class="input">
            </div>
        </div>

        <div class="form-group">
            <label class="label" for="password"> Password</label>
            <div class="control">
                <input type="text" name="password" [ngModel]="user.password" required class="" minlength="6"
                    class="input">
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="confirm_password"> Repeat Password</label>
            <div class="control">
                <input type="text" name="confirm_password" [ngModel]="user.passwordConfirmed" required
                    classclassminlength="6" class="input">
            </div>
        </div>
        <div class="form-group">
            <button class="button is-primary" type="submit">
                Register
            </button>
            <button routerLink="../login" class="button is-link is-light">Cancel</button>
        </div>

    </form>
</div>