<div class="main-container">
    <div class="header">
        <h1>Register</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="label" for="firstname"> First Name</label>
            <input type="text" formControlName="firstname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }" class="input">
            <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                <div *ngIf="f['firstname'].errors['required']">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="lastname"> Last Name</label>
            <input type="text" formControlName="lastname" class="form-control"
                [ngClass]="{'is-invalid': submitted && f['lastname'].errors}" class="input">
            <div *ngIf=" submitted && f['lastname'].errors" class="invalid-feedback">
                <div *ngIf="f['lastname'].errors['required']"> Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="email">Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{'is-invalid': submitted && f['email'].errors}" class="input">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']"> Email is required</div>
                <div *ngIf="f['email'].errors['email']"> Email is invalid</div>
            </div>

        </div>
        <div class="form-group">
            <label class="label" for="username"> Username</label>
            <input type="text" formControlName="username" [ngClass]="{'is-invalid': submitted && f['username'].errors}"
                class="form-control" class="input">
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">User Name required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="label" for="password"> Password</label>
            <input [type]="fieldTextType? 'text': 'password'" formControlName="password"
                [ngClass]="{'is-invalid': submitted && f['password'].errors}" class="form-control" required class=""
                minlength="6" class="input">
            <div class="input-group-append" (click)="toggleFieldTextType()">
                <span class="input-group-text">
                    <i i-bs  name="eye-slash" *ngIf="!fieldTextType">
                    </i>
                    <i i-bs  name="eye" *ngIf="fieldTextType">
                    </i>
                </span>
            </div>
            <div *ngIf=" submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password required</div>
                <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
                <div *ngIf="f['password'].errors['maxLength']">Password muss not exceed 40 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="confirmPassword"> Repeat Password</label>
            <input [type]="fieldTextTypePWConfirm? 'text': 'password'" formControlName="confirmPassword"
                [ngClass]="{'is-invalid': submitted && f['confirmPassword'].errors}" class="form-control"
                classclassminlength="6" class="input">
            <div class="input-group-append" (click)="toggleFieldTextTypePwConfitm()">
                <span class="input-group-text">
                    <i i-bs  name="eye-slash" *ngIf="!fieldTextTypePWConfirm">
                    </i>
                    <i i-bs  name="eye" *ngIf="fieldTextTypePWConfirm">
                    </i>
                </span>
            </div>
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">Repeat Password required</div>
                <div *ngIf="f['confirmPassword'].errors['matching']">Confirm Password does not match</div>
            </div>
        </div>
        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="submitted && isRegistrationFailed">
                Registration failed: {{ errorMessage }}
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary button" type="submit">
                Register
            </button>
            <button routerLink="../login" class="btn btn-light button">Cancel</button>
        </div>

    </form>
</div>