.main-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;

}

.main-container>.header {
    padding: 15px 25px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.form-group {
    //margin-bottom: 20px;
}

label {
    padding-left: 25px;
    padding-top: 25px;
}

input {
    display: block;
    width: 450px;
    margin-left: 25px;
    font-size: large;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: block;
}

.button {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.invalid-feedback {
    margin-left: 25px;
    color: red;
}

.fa-eye-slash:hover,
.fa-eye:hover {
    cursor: pointer;
}

.input-group-append {
    border-radius: 5 5 0 0 px;
    background-color: rgba(0, 0, 0, .03);
    margin-top: -45px;
    z-index: 1000000000;
    float: right;
    position: relative;
    margin-right: 24px;
    display: flex;
    cursor: pointer;
}

.input-group-text {
    padding: 9px;
}