<div class="container">
    <div class="header">
        <div class="row">
            <div class="col">
                <a href="https://github.com/NanaHans" class="link-primary">https://github.com/NanaHans</a>
            </div>
            <div class="col text-center">
                <h3 class="name">Arsen M. Nana</h3>
            </div>
            <div class="col ">
                <div class="contacts">
                    <a href="mailto:arsenmajeste@gmail.com" class="href">arsenmajeste@gmail.com</a>
                    <p>01785307771</p>
                </div>
            </div>
        </div>
    </div>
    <div class="education">
        <div style="border-bottom: 1px solid; line-height: 0.1em">
            <p class="text-bold" style="line-height: 0.1em">Education</p>
        </div>
        <div class="row">
            <div class="col text-bold">FH Dortmund</div>
            <div class="col text-center text-bold">Fachhochschule Dortmund</div>
            <div class="col text-bold">
                <div style="float: right;">
                    August 2013 - February 2017
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="class">
                <li><b>Certificate: </b>Bachalor Informatik</li>
            </ul>
        </div>

    </div>
    <div class="employment">

    </div>
    <div class="software-projects">

    </div>
    <div class="skils">

    </div>
</div>